.head1{
background-color: #72B261;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  /* background-color:#72B261; */
  color: black;
}

/* Links on mouse-over */
.sidebar a:hover {
  background-color:#72B261;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
::ng-deep .ngx-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

::ng-deep .ngx-pagination li {
  display: inline-block;
  margin: 0 5px;
}

::ng-deep .ngx-pagination li a,
::ng-deep .ngx-pagination li span {
  display: inline-block;
  padding: 5px 10px;
  color: var(--black-color);
  border: 1px solid var(--green-color);
  border-radius: 3px;
}

::ng-deep .ngx-pagination li a:hover {
  background-color: var(--white-color);
}

::ng-deep .ngx-pagination li.current span {
  font-weight: bold;
  background-color: var(--green-color);
  color: var(--white-color);
  border-color: var(--green-color);
}
::ng-deep .ngx-pagination .current {
  background-color: var(--white-color) !important;
  border-color: var(--green-color);
}