/* You can add global styles to this file, and also import other style files */
/* Globals Vars */
:root {
  --green-color: #75b262;
  --black-color: #262626;
  --white-color: #f3f3f3;
  --main-font: "Be Vietnam Pro", sans-serif;
}

body {
  font-family: var(--main-font);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
